body{width: 100%; align: center;}
.navbar{ background-color:#300609;
width: 100%;}

.nav-link{color:#f9e3e3;}

.navbar-brand {color:#ffedf4;
font-weight:bold;}
section#home h5 {
	color:#3d0004;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.padding{color:#3d0004;
margin-top: 2rem;
margin-bottom: 1rem;
padding-left: 15px;}
.checked {
    color: red;
}
.btn-sm{margin-top: 20px;}
@media only screen and (min-width: 576px) and (max-width: 767.98px){
	.width{ width: 8rem;}
.p-width{width: 370px;
margin-left: 15px;
}
.caption{font-size: 12px;
font-weight:bold;} 
}
.container form {
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 450px;
  margin: auto;
  
  
}
.form-control{width: 100%;}


.bgcolor{background-color: #d1cfcf;}


.form-group input{height: 48px;
border-radius:5px;
border:0;
font-size: 18px;}
.text-centercontact{text-align: center;
margin-top: 2rem;
font-size: 200%;
color: #300609;
}
.clr{color: #300609;}
@media only screen and (min-width: 768px) and (max-width: 991.98px){
	section#about h5 {
	color:#3d0004;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  
}
.width{ width: 10rem;}
.caption{font-size: 12px;
font-weight:bold;} 
}

}
@media only screen and (min-width: 992px) and (max-width: 1199.98px){
	body{font-size: 1.2rem;
	line-height: 1.8rem; width: 100%;}
	section#about h5 {
	color:#03af34;
	margin-top: 6rem;
	 margin-bottom: 1rem;
	 font-size: 120%;
	}
 p{margin-top: 1.5rem;}


.width{ width: 10rem;}

.caption{font-size: 12px;
font-weight:bold;} 
}	

